<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    {{#if mainCSS }}
      <link rel="stylesheet" href="/css/main.css">
    {{/if}}

    {{#if adminCSS}}
      <link rel="stylesheet" href="/css/admin.css">
    {{/if}}

    {{#if errorCSS}}
      <link rel="stylesheet" href="/css/404.css">
    {{/if}}
<title> {{ pageTitle }} </title>
</head>
<body class="container">

  {{{ body }}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

{{#if mainJS }}
  <script src="/js/main.js"></script>
{{/if}}

{{#if errorJS }}
  <script src="/js/404.js"></script>
{{/if}}
</body>
</html>